<!DOCTYPE html>
<html lang="ru">
<%- partial('partial/head') %>
<body data-spy="scroll" data-target="#navbar-spy" data-offset="0">
  <%- body %>
  <%- partial('partial/footer') %>
  <%- partial('partial/scripts') %>
</body>
</html>