.spacer-footer {
  padding-bottom: 3em;

  @include media-breakpoint-up(sm) {
    padding-bottom: 6em;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 7em;
  }

  @include media-breakpoint-up(xl) {
    padding-bottom: 9em;
  }
}

footer {
  background-color: #3D3D3D;

  .logo-footer {
    max-width: 5rem;
  }

  nav {
    a {
      font-family: $font-bold;
      color: white;
      white-space: nowrap;

      svg,
      svg * {
        fill: white;
      }
    }
  }
}
